<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MALUVICH</title>

    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    
</head>
<body class="intro-page">

    <!-- HEADER -->  
    <header class="header show">
        <nav class="nav">
            <!-- <a class="logo">
                <img src="image/svg/C-logo.svg" height="60%" width="60%" alt="CRYBUS">
            </a> -->
            <!-- <ul class="menu">
                <li class="item"><a class="href" href="/">ДОМ</a></li>
                <li class="item"><a class="href" href="/gallery">ХОЛСТ</a></li>
                <li class="item"><a class="href" href="/gallery">ГАЛЕРЕЯ</a></li>
            </ul> -->
        </nav>
    </header>
    <main class="show">
        <section class="welcome">
            <!-- <div class="img__container">
                <img src="image/svg/CRYBUS.svg" height="25%" width="25%" alt="crybus">
            </div> -->
                
                <!-- <section class="community-section">
                    <div class="community-container">
                        <div class="community-block">
                            <div class="community-content">
                                <div class="intro-content"></div>
    
                                <p><b>Community</b>: We believe in the power of community and mutual support. We strive to create a 
                                    space where every member can find support and inspiration from others.</p>
    
                                <p><b>Resilience</b>: We acknowledge that the path to success is not always smooth, 
                                    but we are confident in our ability to overcome challenges together. 
                                    We learn from our failures and grow from them.</p>
    
                                <p><b>Yield</b>: We value diversity of opinions and perspectives. 
                                    We are willing to yield and seek compromises to achieve our common goal together.</p>
    
                                <p><b>Bonding</b>: We aim to strengthen bonds within our community. 
                                    We create a space where every member feels accepted and valued.</p>
    
                                <p><b>Unity</b>: We recognize the strength in unity. We come together to achieve our goals and inspire each other to great accomplishments.</p>
    
                                <p><b>Support</b>: We promise to support and uplift each other on the journey to success. 
                                    We strive to ensure that every member of our community feels supported and motivated.</p>
    
                                <p>This "<b>CRYBUS</b>" manifesto reflects our values and principles that 
                                    guide us in our pursuit of our common goal and in strengthening our community.</p>
                            </div>
                        </div>
                    </div>
                </section> -->
                <section class="people">
                    <section class="cult">
                        <img src="/static/images/20250416_123123.png" class="photo">
                        <img src="/static/img/рама.png" class="frame">
                    </section>
                </section>
                <h1>MALUVICH</h1>
                <div class="block">
                    <div class="last_text">
                        <h2>Никакого давления. Просто весь интернет увидит твой рисунок.</h2>
                    </div>
                </div>

        </section>
    </main>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>